NEXT_PUBLIC_SUPABASE_URL=https://ompzwnthpuvlwdjmmzjw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tcHp3bnRocHV2bHdkam1temp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MjczNzAsImV4cCI6MjEwNjEwMzM3MH0.Rhusqi8Yh6EcYl7bSAnwaf4I0FDHG4452Yx1To4Rx08
